.tabs {
  position: relative;
  z-index: 0;

  .tab-list {
    background: $white;
    border-bottom: 1px solid $light-gray;
    border-top: 1px solid $white;
    display: inline-block;
    margin: 0;
    padding: 0;
    position: sticky;
    width: 100%;
    z-index: 0;

    li {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -2px;
    padding: 16px;
  }

  .tab-list-active {
    background-color: $white;
    border-bottom: 3px solid $primary;
    color: $black;
    font-weight: bold;

  }
}

.tab-content {
  margin-top: $l;

  @media screen and (max-width: $mobile-max) {
    margin-top: $m;
  }

  h2 {
    margin-top: $xxl;
  }
}

@media screen and (max-width: $mobile-max) {
  .tabs {
    margin-top: -16px;

    .tab-list {
      padding-top: 0px;
      top: 130px;
      width: 100%;
    }
  }
}
